@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-header-gray: #939390;
  --color-reminder-blue: #5590d8;
  --color-notes-yellow: #8fbe32;
  --color-main-gray: #d9d9d9;
  --text-header-main: 90px;
  --text-header-sub: 61px;
  --text-sticky-small: 30px;
  --text-sticky-sub: 20px;
  --width-sticky: 450px;
  --height-sticky: 450px;
  --width-sticky-small: 303px;
  --height-sticky-small: 203px;
  --shadow-sticky: 0 6px 4px 0 rgba(0, 0, 0, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
